<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
  <h1 class="logo" style="display: inline-block;">헤어스타일 추천 서비스</h1>
  <nav style="display: inline-block;">
    <ul>
      <li><a href="/" class="link">홈</a></li>
      <li><a href="/auths/login-form" class="link">로그인</a></li>
      <li><a href="/board" class="link">게시판</a></li>
      <li><a href="/member/register" class="link">회원 가입</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>게시판</h2>
  <table class="board-table">
    <thead>
    <tr>
      <th>글머리</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회 수</th>
      <th>추천 수</th>
    </tr>
    </thead>
    <tbody>
    <!-- 게시글 목록 반복 출력 -->
    <tr th:each="post : ${posts}">
      <td th:text="${post.category.getCategory()}"></td>
      <td><a th:href="@{/board/{id}(id=${post.postId})}" th:text="${post.title}"></a> </td>
      <td th:text="${post.member.nickname}"></td>
      <td th:text="${post.viewCount}"></td>
      <td th:text="${post.getLikesCount()}"></td>
    </tr>
    </tbody>
  </table>
  <!-- 글 작성 버튼 -->
  <a href="/board/new" class="button">글 작성</a>
</main>
<footer>
  <p>© GroomingZone. All rights reserved.</p>
</footer>
</body>
</html>
