<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<div class="login-container">
    <h1 class="logo">로그인</h1>
    <form action="/process_login" method="POST" th:action="@{/process_login}">
        <div class="error" th:if="${param.error != null}">
            <div class="alert">
                잘못된 사용자명 또는 비밀번호입니다.
            </div>
        </div>
        <div>
            <label for="username">사용자명:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
</div>

<footer>
    <p>© 2023 헤어스타일 추천 서비스. All rights reserved.</p>
</footer>
</body>
</html>
