<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 작성</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<header>
  <h1 class="logo" style="display: inline-block;">헤어스타일 추천 서비스</h1>
  <nav style="display: inline-block;">
    <ul>
      <li><a href="/" class="link">홈</a></li>
      <li><a href="/auths/login-form" class="link">로그인</a></li>
      <li><a href="/board" class="link">게시판</a></li>
      <li><a href="/member/register" class="link">회원 가입</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>글 작성</h2>
  <form action="/board/new" method="POST">
    <div>
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="content">내용:</label>
      <textarea type="text" id="content" name="content" required></textarea>
    </div>
    <div>
      <label for="nickname">작성자:</label>
      <input type="text" id="nickname" name="nickname" required>
    </div>
    <button type="submit">글 작성</button>
  </form>
</main>
<footer>
  <p>© 2023 헤어스타일 추천 서비스. All rights reserved.</p>
</footer>
</body>
</html>
